tensorflow>=2.16
scikit-learn>=1.5
plotly>=5.22
pandas>=2.2
numpy>=1.26
ta>=0.11
prophet>=1.1
textblob>=0.18
requests>=2.32
jupyter>=1.0
dash>=2.17
dash-bootstrap-components>=1.6
jupyter-dash>=0.4.2
snscrape>=0.7.0.20230622  # replacement for twint
